@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.container{
    width:100%;
}
.product-box{
    display: inline;
    float: left;
    margin: 20px;
    width: 20%;
    max-height: 400px;
}
img{
    
    height: 250px;
    width: 100%;
}
.btn-group button{
    height: 30px;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: smaller;
    margin-bottom: 20px;
    width: 48%;
    
}
.btn-group button:nth-of-type(1){
    border:0.5px solid #ff3e6c;
    background-color: #ff3e6c;
}
.btn-group button:nth-of-type(2){
    border:0.5px solid	#ff3e6c;
    background-color: white;
    color: black;
    float: right;
}
.heading{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    
    
}
.sub-heading{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: small;
}
