.empty-cart{
    margin-left: 80px;
}
ul{
    list-style: none;
    margin: 10px;
}
ul li{
    margin: 10px;
}
.total{
    background-color:#ff3e6c;
    height: 30px;
    width:30%;
    color: white;
    text-align: center;
    font-size: smaller;
    font-weight: 50;
    padding-top: 10px;
}