.container{
    display: flex;
    width: 40%;
    margin-top: 2%;
}
.product-image img{
    width: 80px;
    height: 100px;
    padding-right:20px ;
    overflow: visible;
}
.show-details{
    background-color:#ff3e6c;
    border: 1px solid #ff3e6c;
    border-color: #ff3e6c;
    margin-left: 10px;
    font-size: small;
    font: outline;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}
.heading{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: small;
}
.sub-heading{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: small;
}
